nav {
  width: 100%;
  .flex(center, center);
  padding: 5% 0;
  margin: auto;

  .navBar {
    max-width: 800px;
    width: 100%;
    .flex(center, center);

    a {
      text-decoration: none;
      color: @main-color;
      padding: 0 5%;

      &:hover {
          color: lighten(@main-color, 30%)
      }
    } //closes tags
  } //closes navBar
} //closes nav
